.box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    margin-top: 1%;
    justify-content: center; /* Centrage horizontal */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    justify-content: center;
    border-bottom: 1px solid gold;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    border-top: 1px solid gold;
    flex-direction: row;
}
  
.img {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img img{
    width: 97%;
    height: 97%;
    object-fit: cover;
    border-radius: 10px;
}

.txt {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.l {
    width: 2px;
    background-color: gold;
    height: 100%;
}
  

.custom-list {
    list-style-type: disc; /* Supprimer les puces par défaut */
    margin: 0; /* Supprimer la marge par défaut */
    padding: 0; /* Supprimer le remplissage par défaut */
    width: 80%; /* Ajuster la largeur */
}
  
.custom-list li {
    margin-bottom: 20px; /* Espacement entre chaque élément */
    font-size: 1.5em; /* Ajuster la taille de la police */
    line-height: 8; /* Espacement entre les lignes */
    text-align: left; /* Alignement du texte à gauche */
    text-indent: 1em; /* Réduire l'indentation de la première ligne */
    padding-left: 1em; /* Ajouter un espace pour compenser l'indentation */
    word-spacing: 10px; /* Espacement entre les mots */
    font-weight: bold;
}

.title {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 10%;
    width: 10%;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px; /* Espacement entre le titre et la liste */
    letter-spacing: 5px;
  }