* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: transparent;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gold;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    border-top: 2px solid gold;
}

.logo img {
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.cart-profile {
    display: flex;
    align-items: center;
    height: 120%;
}

.profile {
    padding-left: 20px;
}

/* styles.css */

  
.full-screen-image {
    position: relative;
    width: 100%;
    height: 100vh; /* Utilisation de 100vh pour remplir la hauteur de l'écran */
    overflow: hidden;
}
  
.full-screen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.tcol {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
}
  
.tcol a {
    font-size: 24px;
    text-decoration: none;
    line-height: 1.5; /* Hauteur de ligne pour centrer verticalement */
}
  
  

  
