* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: transparent;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gold;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    border-top: 2px solid gold;
}


 
/* Ajout du style pour le texte "Siletti" à côté du logo */
.logo {
    display: flex;
    align-items: center;
    height: 100%; /* Assurez-vous que le header a une hauteur fixe pour centrer verticalement */
}

.logo img {
    height: 60px;
    margin-right: 10px; /* Espacement entre le logo et le texte */
}

.logo-text {
    font-size: 2em;
    /* Ajoutez d'autres styles si nécessaire, comme la couleur, la police, etc. */
    display: flex; /* Pour aligner verticalement le texte */
    align-items: center; /* Pour centrer verticalement le texte */
    letter-spacing: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px; /* Espacement horizontal entre chaque élément de navigation */
}


nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
}

.cart-profile {
    display: flex;
    align-items: center;
    height: 120%;
    margin-right: 10px
}

.cart-profile .cart a i,
.cart-profile .profile a i {
    font-size: 1.5em; /* Taille agrandie pour les icônes */
}

.profile {
    padding-left: 20px;
}

/* styles.css */

  
.full-screen-image {
    position: relative;
    width: 100%;
    height: 150vh; /* Utilisation de 100vh pour remplir la hauteur de l'écran */
    overflow: hidden;
}
  
.full-screen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.tcol {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    height: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
    border-bottom: 1px solid gold;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    border-top: 1px solid gold;
}
  
.tcol a {
    font-size: 2em ;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 15px;
    word-spacing: 40px
}
  
.box1 {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
    height: 24%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
    border-bottom: 1px solid gold;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    border-top: 1px solid gold;
}

.box2 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
    height: 24%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
    border-bottom: 1px solid gold;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    border-top: 1px solid gold;
}

.l {
    height: 105%;
    border-left: 1px solid gold;
    text-align: center;  
}

.txt1 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 2em ;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 15px;
    word-spacing: 40px
}

.img1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.txt2 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 2em ;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 15px;
    word-spacing: 40px
}

.img2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 10px; /* Ajout de padding pour l'espacement interne */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.long1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 1px; /* Ajout de padding pour l'espacement interne */
}

.long1 img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.long2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 1px; /* Ajout de padding pour l'espacement interne */
}

.court1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 1px; /* Ajout de padding pour l'espacement interne */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.court2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex; /* Utilisation de flexbox pour aligner verticalement */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    padding: 1px; /* Ajout de padding pour l'espacement interne */

}

.court2 img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}